

<div  id="footerbody"> 

    <nav id="footerli">
      <a href="admin"> admin login</a>
      <a href="#"> recent update</a>
      <a href="#"> contact  </a>
      <a href="#">  feedback </a>
      <a href="#"> technical issues </a>
      <a href="#"> other issues</a>
    </nav>

    <nav id="welnav">
    
      <div style="margin-top: 20px;">
        <h5>Any help please connect with us.</h5>
        <p>
          +917976890679
        </p>
       <p>
        <a href="#">hello@gmail.com</a>
       </p>
      </div>
  </nav>
     
  </div>   

<style>
  #footerbody { 
    background-color: rgb(1, 1, 1);
  }
 #welnav {
    padding-top: 17px;
    
    text-align: center;
    width: auto;
    height: auto;
    color:#ffffff;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
  
 #footerli a, #footerli { 

    padding: 0%;
    margin-bottom: 0%;
    font-size:large;
    margin-right: 50px;
    margin-left:50px;
    padding-top: 20px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-transform:capitalize;    

 }
  #footerli a:hover {
  color: crimson;
 }
marquee{
  margin: 0px;
  padding: 0px;
  color: rgb(244, 244, 244);
  font-size:larger;
  background-color: rgb(150, 71, 71);

}
#news label{
font-size: larger;
text-transform: capitalize;
text-decoration: solid;
color: crimson;
}
 
</style>
</html>