
<nav>
       
<nav id="welnav">
    <nav>
    <div>
      <img src="" alt="">
    </div>
    <div>
      Any help please connect with us.
    </div>
    <div>
      <b>HELPFUL LINKS</b>
      <ol>
        <p>Privacy policy</p>
        <p>Terms & conditions</p>
      </ol>
    </div>
    <div>
      <b>Get In TOUCH</b>
      <ol>
        <p>
          hello@opq.in
        </p>
        <p>
          +917976890679
        </p>
    
      </ol>
    </div>
    </nav>
      
    </nav>
    
</body>
<style>
    
 #welnav {
    background-color: black;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    overflow: hidden;
  }
</style>
</html>