{% extends "base.html" %}
{% block mycollege %}
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/styleLogin.css">

    <title>Log in</title>
</head>
<body>
    <form id="loginForm" action="{% url 'login' %}">
        <h2>Please Insert your E-mail and your password to Sign in</h2>
        <div class="">
          <label for="" class="form-label">Email address</label>
          <input type="email" class="form-control" name="femail" id="" aria-describedby="emailHelp">
        </div>
        <div class="">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="">
        </div>
        <button type="button" class="btn col-lg-6 text-center"><a id="">Sign In</a></button>
      </form>
      
    <script src="/static/js/appLogin.js"> </script>
    
</body>
</html>
{% endblock mycollege %}