/* quiz.css */

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #2d3436;
    color: #fff;
  }
  
  /* Quiz Content Styles */
  
  .quiz-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-main-heading{
    margin-bottom: 20px;
  
  }
  
  .quiz-main-heading h1,.quiz-main-heading h3 {
    color: #2d3436;
    text-align: center;
    margin-bottom: 10px;
  }
  .type-of-quiz p{
    color:#2d3436;
    text-align: center;
  }
  /* Quiz Options Styles */
  
  .quiz-options {
    margin-top: 20px;
    color:#2d3436;
    padding:11px ;
  }
  
  .quiz-options ul {
    list-style: none;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    
    /* padding: 20px; */
    /* margin: 10px; */
  }
  
  .quiz-options li {
    margin-bottom: 10px;
    font-style: bold;
    margin-top: 20px;
    
  }
  
  .quiz-options input[type="checkbox"] {
    margin-right: 19px;
    padding: 20px;
  }
  
  .quiz-options label {
    color: #2d3436;
  }
  
  /* Button Styles */
  
  .btn-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 50px; /* Adjust the margin as needed */
  }
  
  #btnH1 {
    background-color: #ffbb00;
    color: #2d3436; /* Text color */
    padding: 10px 30px; /* Padding to increase the button size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Change cursor on hover */
    display: inline-block; /* Allows the button to be centered using text-align on the container */
    text-align: center; /* Ensures text inside the button is centered */
    margin: 1px; /* Margin to create space for the shadow */
    /* border: 2.px solid #ffbb00; Solid border with desired color */
    box-shadow: inset 0 0 2px 2px white; /* Inset shadow to simulate white gap */
    border-radius: 5px; /* Rounded corners */
  }
  
  #btnH1:hover {
    background-color: #ffc107; /* Lighter shade on hover */
    /* border: 2.px solid #ffc107; Adjust the border color on hover to match */
    box-shadow: inset 0 0 2px 2px white; /* Maintain the white gap effect on hover */
    border-radius: 5px; /* Ensure rounded corners on hover as well */
  }
  /* Skip Button Styles */
  
  .skip-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .skip-button a {
    background-color: #ffbb00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .skip-button a:hover {
    background-color: #ffc107;
  }