*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
hr{
    background-color: #2d3436;
    box-sizing: content-box;
    height: 0.5px;
    overflow: visible;
    width: 8%;
    margin: 0 auto;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: inherit;
    border-top: 1px solid rgba(0,0,0,.1);
    opacity: unset!important;
}
/******** Header ********/

/** Navbar ***/
.navbar .navbar-brand{
    font-size: 70px;
    color:  #2d3436;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
 }
 #welnav {
    background-color:#2d3436;
    text-align: center;
    width: auto;
    height: auto;
    color:#ffbb00;
    overflow: hidden;
  }
.navbar .container-fluid{
    height: 100px;
}
.navbar .navbar-collapse ul{
    margin: 10px auto;
    color: #ffbb00;
    font-size: 25px;
}
.navbar-toggler{
    border: 2px solid #2d3436;
}
.navbar .nav-link{
    color:#ffbb00;
    margin-right: 30px;
}
.navbar .btn{
    padding: 10px 30px;
    background-color:#ffbb00;
    color:#2d3436;
}
#btnH{
    padding: 10px 30px;
    background-color:#ffbb00;
    color:#2d3436;
}
.navbar .btn .nav-link{
    color:#2d3436;
    margin-right: 0;
}
.navbar .btn1{
    color:#ffbb00;
    margin-right: 10px;
}
.navbar ul{
    text-align:center;
}
/******** Welcom ********/
.container{
    margin-top: 100px;
    margin-bottom: 150px;
}
.container p{
    margin-top: 50px;
    font-size: 25px;
}

.welcome .btn{
    /* background-color: white; */
    height: 49px;
    margin-top: 50px;
    border: 2px solid #ffbb00;
    /* transition: 0.5s ease-in-out; */
    padding:1px 1px 1px 1px;
}
.welcome .btn:hover{
    background-color: #ffbb00;
    color: #2d3436 !important;
}
.welcome .btn a{
    color: #ffbb00;
    text-decoration: none;
    
}
.welcome .btn a:hover{
    color: #2d3436 !important;
}



@media screen and (max-width:992px) {
    .navbar ul{
        color:#2d3436;
    }
    .collapse.show{
        background-color:#ffbb00 ;
        z-index: 111;
        border-radius: 10px;
    }
    #contact-us{
        border-right:unset;
    }
    .visit-us,
    .all-rights-reserved{
        text-align: center;
    }
    .footer-text{
        padding: 10px 13px;
    }
    
}