{% extends "base2.html" %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Fonawesome-->
    <link rel="stylesheet" href="/static/bootstrap-css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="/static/css/styleWelcome.css">
    <title>User Profile</title>
</head>
<body>
<div>
    <div class="beforetable">
        <h1 style="text-align: center;">All update</h1>
        <table class="table">
            <tr>
                <th>DATE & TIME</th>  
                <th>TOPIC</th>
            </tr>

                {% for update in totalupdate %}
                <tr>
                    <td><p>{{update.date}}</p></td>
                    <td><p><a href="/updatedetails/ {{update.id}}">{{update.title}}</a></p></td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
</body>
<style>
    .table{
        border:"1";
        margin-top: 40px;
        text-align: center;
        text-transform: capitalize;
        border-width: 10px;
        border-style: solid;
        }
    .beforetable{
        margin-left: 20%;
        margin-right: 20%;

    }
</style>
</html>
{% endblock base %}
