

<div  id="footerbody"> 

    <nav id="footerli">
      <a href="/admin"> admin login   </a>
      <a href="/allupdate"> recent update</a>
      <a href="/feedback">  feedback  </a>
    </nav>

    <nav id="welnav">
    
      <div style="margin-top: 20px;">
        <h5>Any help please connect with us.</h5>
        <p>
          +917976890679
        </p>
       <p>
        <a href="#">hello@gmail.com</a>
       </p>
      </div>
  </nav>
  </div>   
  

<style>

  #footerbody { 
    text-align: center;
    background-color:#2d3436;
    font-family: Arial, Helvetica, sans-serif;
  }
 #welnav {
    padding-top: 17px;
    
    text-align: center;
    width: auto;
    height: auto;
    color:#ffffff;
    overflow: hidden;
   
    font-size: medium;
  }
  
  
 #footerli a, #footerli { 

    padding: 0%;
    margin-bottom: 0%;
    font-size:large;
    margin-right: 50px;
    margin-left:50px;
    padding-top: 20px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-transform:capitalize;    

 }
  #footerli a:hover {
  color: crimson;
 }
marquee,marquee a{
  margin: 0px;
  padding: 0px;
  /* {% comment %} color: rgb(244, 244, 244); {% endcomment %} */
  font-size:large;
  /* {% comment %} background-color: rgb(150, 71, 71); {% endcomment %} */
  text-transform: capitalize;

}
#news label{
font-size: larger;
text-transform: capitalize;
text-decoration: solid;
color: crimson;
}
 
</style>
</html>