<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleForgetPassword.css">
    <title>Forget Password</title>
</head>
<body>
    <h1>Forget Password</h1>
    <form action="{% url 'forgetpassword' %}" method="post">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Email"><br><br>
        <!-- <input type="submit" name="submit" value="submit">    -->
        <button type="submit"> Submit</button>
    </form>
</body>
</html>