{% extends "base.html" %}
{% block base %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap-css/bootstrap.css">

  <link rel="stylesheet" href="/static/css/styleLogin.css">

  <title>Log in</title>
</head>

<body>
  <form id="loginForm" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h2>Please Insert your E-mail and your password to Sign in</h2>
    <div class="">
      <label for="" class="em">Email Address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    </div>
    <div class="">
      <label for="" class="em">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <br>
    <b>{{n}}</b>
    <a href="{% url 'forgetpassword' %}" class="forget-password-link">Forget Password</a>
    <!-- <button type="submit" class="btn col-lg-5" id="submit-btn-form"><a class="nav-link" id="reg-submit-link">Submit</a></button> -->
    
    <button type="submit" class="btn col-lg-6 text-center"><a id=""></a>Sign In</button>
  </form>


  <!-- <script src="/static/js/appLogin.js"> </script> -->

</body>

</html>
{% endblock base %}