<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <!-- <img src="{{ user.profile_picture_url }}" alt="Profile Picture" class="profile-picture"> -->
            <h1>Profile</h1>
            <!-- <p class="role">Your Role or Profession</p> -->
        </div>
        <div class="profile-info">

            <p><strong>First Name:</strong> {{ user.first_name }} </p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <!-- <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Bio:</strong> {{ user.bio }}</p>
        </div> -->
        <div class="social-links">
            <!-- Example: LinkedIn -->
            <!-- <a href="{{ user.linkedin_url }}" class="social-link">LinkedIn</a> -->
            <!-- Add other social media links here -->
        </div>
        <div class="profile-actions">
            <a href="{% url 'editprofile' user.id %}" class="edit-profile-btn">Edit Profile</a>
            <a href="{% url 'changepassword' user.id %}" class="go-back-btn">Change Password</a>
            <a href="{% url 'afterlogin' user.id %}" class="edit-profile-btn">Go Back</a>
            
            

        </div>
    </div>
</body>
</html>