<!-- quiz/templates/quiz_view.html -->
{% extends "base2.html" %}
{% block base %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Fonawesome-->
    <link rel="stylesheet" href="/static/bootstrap-css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="/static/css/styleWelcome.css">
    <link rel="stylesheet" href="/static/css/quiz.css">

    <title>Quiz View</title>
</head>
<body>
   <div class="quiz-content">

        <div class="quiz-main-heading">
            <!-- <h1>{{ quiz.title }}</h1> -->
        </div>
      
        <div class="quiz-main-heading">
            <h1>Question {{ question_number }} of {{ total_questions }}</h1>

        </div>

        <form action="{% url 'quiz_view' quiz.id question_number %}" method="post">

            {% csrf_token %}

            <div class="quiz-main-heading">
                <h3>{{ question.text }}</h3>
            </div>




            <div class="quiz-options" >
                <ul>
                    {% for choice in question.choice_set.all %}
                      
                        <input type="checkbox" id="choice_{{ choice.id }}" name="choice" value="{{ choice.id }}">{{ choice.text }}<br>                
                      
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-container" > <!-- A new container for centering the button -->
                <button id="btnH1" type="submit">Next</button>
            </div>
            <!-- {% if question_number < total_questions %}
                <a href="{% url 'quiz_view' quiz.id question_number|add:1 %}" class="btn btn-primary">Skip</a>
            {% endif %} -->
            
        </form>
    </div>
   
</body>
</html>
{% endblock base %}