<!-- quiz/templates/quiz_submission.html <!-- quiz/templates/quiz_submission.html -->
{% extends "base2.html" %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Fonawesome-->
    <link rel="stylesheet" href="/static/bootstrap-css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="/static/css/styleWelcome.css">
    <link rel="stylesheet" href="/static/css/quiz.css">
    <title>Quiz Submission</title>
</head>
<body>
    <div>
        <a href="/quiz_start">Back</a>
    </div>
    <div>
        <h1 class="quiz-main-heading">Quiz Submitted</h1>
        <p class="quiz-main-heading">Your score: {{ score }}</p>
    </div>
</body>
</html>
{% endblock base %}